<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.weli.learnandroiddemo">
    <!-- 权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" /> <!-- SD卡读写权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" /> <!-- webView权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/my_image"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Net.Activity.WebViewActivity"></activity>
        <activity android:name=".Net.Activity.OkHttpActivity" />
        <activity android:name=".Net.Activity.UrlActivity" />
        <activity android:name=".Net.Activity.NetActivity" />
        <activity android:name=".Animation.ProanimActivity" />
        <activity android:name=".Animation.OtherDemoActivity" />
        <activity android:name=".Animation.TweenAnimActivity" />
        <activity android:name=".Animation.FrameAnimActivity" />
        <activity android:name=".Animation.ImageDecoderActivity" />
        <activity android:name=".Animation.BitmapFactoryActivity" />
        <activity android:name=".Animation.AnimationActivity" />
        <activity android:name=".Resource.InternationalActivity" />
        <activity android:name=".Resource.UseOriActivity" />
        <activity android:name=".Resource.AttributeActivity" />
        <activity android:name=".Resource.StyleAndThemeActivity" />
        <activity android:name=".Resource.XmlActivity" />
        <activity android:name=".Animation.PropertyAnimationActivity" />
        <activity android:name=".Resource.AnimationDrawableActivity" />
        <activity android:name=".Resource.ClipDrawableActivity" />
        <activity android:name=".Resource.ShapeDrawableActivity" />
        <activity android:name=".Resource.LayerDrawableActivity" />
        <activity android:name=".Resource.ResEditActivity" />
        <activity android:name=".Resource.ResActivity" />
        <activity android:name=".Communication.IntentActivity" />
        <activity android:name=".Communication.SecondActivity">
            <intent-filter>
                <action android:name="I want to go to the SecondActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="category" />
            </intent-filter>
        </activity>
        <activity android:name=".Event.AsyncTask.AsyncTaskActivity" />
        <activity android:name=".Event.Activity.HandlerActivity" />
        <activity android:name=".Event.Listener.PlaneActivity" />
        <activity android:name=".Event.EventActivity" />
        <activity android:name=".ViewControl.View.ActionViewActivity" />
        <activity android:name=".ViewControl.View.FirstActivitty" />
        <activity android:name=".ViewControl.View.ActionBarActivity" />
        <activity android:name=".ViewControl.View.PopupMenuActivity" />
        <activity android:name=".ViewControl.View.XmlMenuActivity" />
        <activity android:name=".ViewControl.View.ContextMenuActivity" />
        <activity
            android:name=".ViewControl.View.OtherActivity"
            android:label="查看《微鲤》" />
        <activity android:name=".ViewControl.View.MenuActivity" />
        <activity android:name=".ViewControl.View.PopupWindowActivity" />
        <activity android:name=".ViewControl.View.DialogActivity" />
        <activity android:name=".ViewControl.View.NotiActivity" />
        <activity android:name=".ViewControl.View.ScrollViewActivity" />
        <activity android:name=".ViewControl.View.SearchViewActivity" />
        <activity android:name=".ViewControl.View.CalendarViewActivity" />
        <activity android:name=".ViewControl.View.ToastActivity" />
        <activity android:name=".ViewControl.View.ViewAnimatorActivity" />
        <activity android:name=".ViewControl.View.ProgressBarActivity" />
        <activity android:name=".ViewControl.View.ClockViewActivity" />
        <activity android:name=".ViewControl.View.TextViewActivity" />
        <activity android:name=".ViewControl.View.CusViewActivity" />
        <activity android:name=".ViewControl.SurfaceView.SurfaceViewActivity" />
        <activity android:name=".ViewControl.WebView.WebViewActivity" />
        <activity android:name=".ViewControl.ViewPage.ViewPageActivity3" />
        <activity android:name=".ViewControl.ViewPage.ViewPageActivity2" />
        <activity android:name=".ViewControl.Fragment.DynamicFragmentActivity" />
        <activity android:name=".ViewControl.Fragment.StaticFragmentActivity" />
        <activity android:name=".ViewControl.ViewPage.ViewPageActivity1" />
        <activity android:name=".ViewControl.RecyleView.RecyleViewActivity" />
        <activity android:name=".ViewControl.ListView.ListViewActivity" />
        <activity android:name=".ViewControl.ConstraintLayoutActivity" />
        <activity android:name=".ViewControl.FramLayoutActivity" />
        <activity android:name=".ViewControl.TableLayoutActivity" />
        <activity android:name=".ViewControl.LinnearLayoutActivity" />
        <activity android:name=".ViewControl.ViewActivity" />
        <activity android:name=".DataStorage.DbStoreActivity" />
        <activity android:name=".DataStorage.FileStoreActivity" />
        <activity android:name=".DataStorage.SpStoreActivity" />
        <activity android:name=".DataStorage.DataStoreMainActivity" />
        <activity android:name=".RealMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FourMajorComponents.ContentProviderDemo.ContactActivity" />
        <activity android:name=".FourMajorComponents.ContentProviderDemo.ImageActivity" />
        <activity android:name=".FourMajorComponents.ContentProviderDemo.ContentProviderActivity" />
        <activity android:name=".FourMajorComponents.BroadcastDemo.BroadcastActivity.LocalBroadcastActivity" />
        <activity android:name=".FourMajorComponents.ServiceDemo.ServiceMainActivity" />
        <activity android:name=".FourMajorComponents.BroadcastDemo.BroadcastMainActivity" />
        <activity android:name=".FourMajorComponents.BroadcastDemo.BroadcastActivity.ReceiveSysBroadcastActivity" />
        <activity android:name=".FourMajorComponents.ActivityDemo.SartMode.SingleInstanceActivity" />
        <activity android:name=".FourMajorComponents.ActivityDemo.SartMode.SingleTaskActivity" />
        <activity
            android:name=".FourMajorComponents.ActivityDemo.SartMode.EActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".FourMajorComponents.ActivityDemo.SartMode.DActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".FourMajorComponents.ActivityDemo.SartMode.CActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".FourMajorComponents.ActivityDemo.SartMode.BActivity"
            android:launchMode="standard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".FourMajorComponents.ActivityDemo.ActivityDemo_main" />
        <activity android:name=".FourMajorComponents.FourMainActivity" />

        <service android:name=".FourMajorComponents.ServiceDemo.StartMethod.StartMethod" />
        <service android:name=".FourMajorComponents.ServiceDemo.StartMethod.BindMethod" />
    </application>

</manifest>